%sidebar-div {
  margin: 3rem;
  width: 100%;
  border-bottom: 1px solid rgba($color-menu, .3);
  height: 20%;
  font-size: 2rem;
  text-align: right;
  animation: moveToLeft 500ms cubic-bezier(.86,.19,.46,.35);
}

.sidebar {

  position: fixed;
  width: 25%;
  height: 100%;
  background-color: rgba($color-black, .8);
  top: 0;
  right: 0;
  padding: 5rem;
  z-index: 30;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media only screen and (max-width: 1350px) {
    width: 33.33333%;
  }

  @media only screen and (max-width: 1000px) {
    width: 100%;
    background-color: $color-black;
  }

  &__icon {
    position: absolute;
    top: 4%;
    left: 4%;
  }

  &__title {
    @extend %sidebar-div;
    height: auto;
    text-align: right;
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  &__config {

    &--1 {
      @extend %sidebar-div;
    }

    &--2 {
      @extend %sidebar-div;
    }

    &--3 {
      @extend %sidebar-div;
    }
  }

  &__button {
    @extend %sidebar-div;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
